@import '@styles/abstract';

.title {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: $border;
  color: $color-main;
}

.productPage {
  display: flex;
  flex-direction: column;

  @include bp-md {
    flex-direction: row;
    
  }
}

.images {
  max-width: 450px;

  @include bp-md {
    flex: 1;
    margin: auto;
  }
}

.mainImage {
  padding-top: 100%;

  @include bg-cover;
}

.thumbnail {
  padding-top: 100%;

  @include bg-cover;
}

.text {
  white-space: pre-wrap;
  padding-top: 30px;
  background: beige;

  @include bp-md {
    flex: 1; 
    padding-top: 0;
    padding-left: 50px;
  }
}