@import "@styles/abstract";

.footer {
  width: 100%;
  padding: 14px 0;
  text-align: center;  
  border-top: $border;
  background: $white-dark;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include bp-sm {
    flex-direction: row;
  }
}

.companyDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  text-decoration: none;
  font-family: $font-family-title;
  color: $color-main;


  @include bp-sm {
    margin-bottom: 0;
  }
}
.img {
  width: 40px;
  margin-right: 12px;
}
