@import '@styles/abstract';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.gallery {
  @include wider-section;
}

.products {
  display: flex;
  flex-direction: column-reverse;

  @include bp-md {
    flex-direction: row;
  }

}

.categoryMenu {
  flex: 1;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.categoryTitle {
  font-size: 15px;
  padding-bottom: 12px;
  font-weight: 600;

}

.category {
  font-size: 14px;
  padding-bottom: 5px;
  color: $grey-dark
}

.productsCards {
  flex: 4;
  padding: 30px 0;
}
