@import '@styles/abstract';

.gallery {
  @include wider-section;
}

.products {
  display: flex;
  flex-direction: column;

  @include bp-md {
    flex-direction: row;
  }

}

.categoryMenu {
  flex: 1;
  padding: 60px 0 0 60px;
  margin: 0 auto;
  width: 450px;
  text-transform: uppercase;
  letter-spacing: .05em;

  @include bp-md {
    padding: 60px 0 0 30px;
  }

  @include bp-lg {
    padding: 60px;
  }
}

.categoryTitle {
  font-size: 15px;
  padding-bottom: 18px;
  font-weight: 600;

}

.categories {
  color: $grey-dark;
}
.category {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  &:hover {
    font-weight: bold;
  }
}

.category__isActive {
  position: relative;
  display: block;
  color: $color-main;

  &:before{
    position: absolute;
    content: '';
    width: 12px;
    height: 2px;
    background: currentColor;
    top: calc(50% - 2px);
    left: -20px;
    opacity: .4;
  }
}

.text {
  position: sticky;
  top: 90px;
}

.productsCards {
  flex: 4;
  padding: 60px 0;
}

