@import "@styles/abstract";

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  padding: 0;
  margin: 0;
  border-bottom: $border;
  background: $white;
}
.content {
  display: flex;
  flex-direction: row;  
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  justify-content: space-between;
}
.navigation {
  margin: 0;
}
.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.link {
  position: relative;
  color: currentColor;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:before {
    position: absolute;
    content: '';
    height: 2px;
    background: $color-main;
    bottom: 0;
    left: 0;
    right: 100%;
    opacity: 0.5;
    @include transition();
  }

  &:hover:before {
    left: 0;
    right: 0;
  }


  &__isActive {
    color: $color-main;
  }
}

.logo {
  flex-direction: row;
  text-decoration: none;

  @include vertical-align;  
}

.img {
  font-size: 48px;
  height: 1em;
  width: 1em;
  padding: 8px 16px 8px 0;
  margin: auto 0;
}

.cuach {
  font-size: 1.1em;
  margin: auto 0;
}
