// .hero {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 61.8vh;
//   max-height: 400px;
//   background: #e1e1e1;
//   font-size: 2em;
//   overflow: hidden;
// }
@import '@styles/abstract';

.about {
  padding: 60px 0;
  @include wider-section; 
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @include vertical-align;

  @include bp-md {
    flex-direction: row;
  }
}

.title {
  text-align: center;
  @include sectionTitle;
}

.subtitle {
  @include sectionTitle;
  font-size: 35px;
  text-align: center;
}

.contentItem {
  margin: auto;
  @include bp-md {
    flex: 1;
  }
}

.text {
  padding: 0 50px;
  margin: auto;
}

.text2 {
  margin: auto;

  @include bp-md {
  padding: 0 0 0 50px;
  }
}

.content2 {
  display: flex;
  flex-direction: row-reverse;
}

.img2 {
  display: none;

  @include bp-md {
    display: block;
  }
}

.paragraph {
  font-size: 18px;
  line-height: 30px;
  white-space: pre-wrap;
}

.us {
  background: $white-dark;
}
