@import '@styles/abstract';
.contactPage {
  display: flex;
  flex-direction: column;

  @include bp-md {
    flex-direction: row;
  }
}

.info {
  flex: 1;
}

.form {
  flex: 2;
  padding-top: 40px;

  @include bp-md {
    padding-top: 0;
  }

}

.title {
  @include sectionTitle;
  font-family: $font-family-title;
  font-size: 30px;
}

.content {
  font-size: 17px;
  line-height: 27px;
  padding-right: 17px;
}