@import "@styles/abstract";

.wrapper {
  display: flex;
  padding: 0 0 24px;
}
.content {
  flex-grow: 1;
}
.index,
.title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: bold;
  color: $color-main;
}

.index {
  padding: 0 24px 0 0;
}
.desc {
  margin: 0 0 12px;
}

.imgWrapper{
  display: none;
  width: 260px;
  padding: 0 0 0 16px;

  @include bp-sm {
    display: block;
  }
}
.img {
  width: 100%;
}