@import '@styles/abstract';

$img-width: 250px;

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card {
  padding: 0 30px;
}

.cardImgWrapper {
  width: $img-width;
  height: $img-width;
  margin: auto;
  padding: 35px 0;
}

.cardImg {
  width: 100%;
  height: $img-width;
  object-fit: cover;
  border-radius: 50%;
}

.cardText {
  max-width: 300px;
}

