@import '@styles/abstract';

$img-width: 250px;
$img-width-md: 300px;

.title {
  @include sectionTitle;
  font-family: $font-family-title;
  font-size: 36px;
}

.subtitle {
  @include sectionSubtitle;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.card {
  padding: 0 30px;

  @include bp-md {
    display: flex;
    flex-direction: row;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.cardImgWrapper {
  width: $img-width;
  height: $img-width;
  margin: auto;
  padding: 35px 0;

  @include bp-md {
    width: $img-width-md;
    height: $img-width-md;
  }
}

.cardImg {
  width: $img-width;
  height: $img-width;
  object-fit: cover;
  border-radius: 50%;
  
  @include bp-md {
    width: $img-width-md;
    height: $img-width-md;
  }
}

.cardText {
  max-width: 300px;

  @include bp-md {
    align-self: center;
    max-width: 100%;
    text-align: left;
    padding: 0 80px;
    
  }
}

.name {
  font-family: $font-family-title;
  color: $color-main;
  font-size: 23px;
  letter-spacing: 3px;
}

.job {
  font-size: 18px;
  padding: 7px 0 6px;
  color: $color-main-light;
}


.description {
  font-size: 16px;
  color: $grey-dark;
}
