@import '@styles/abstract';

$img-width: 250px;

.title {
  @include sectionTitle;
  font-family: $font-family-title;
  font-size: 36px;
}

.subtitle {
  @include sectionSubtitle;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.card {
  padding: 0 30px;
}

.cardImgWrapper {
  width: $img-width;
  height: $img-width;
  margin: auto;
  padding: 35px 0;
}

.cardImg {
  width: 100%;
  height: $img-width;
  object-fit: cover;
  border-radius: 50%;
}

.cardText {
  max-width: 300px;
}

.name {
  font-family: $font-family-title;
  color: $color-main;
  font-size: 23px;
  letter-spacing: 3px;
}

.job {
  font-size: 18px;
  padding: 3px 0;
  color: $color-main-light;
}


.description {
  font-size: 16px;
  color: $grey-dark;
}
