@import "@styles/abstract";

.CardProduct {
  width: 100%;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.imgWrapper {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  // padding: 20px 0;
  margin: auto;
}

.image {
  padding-top: 100%;

  @include bg-cover;
}

/**
 * article grid
 */
 .list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15vmin;
}


.productTitle {
  padding: 20px 0 7px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.title{
  text-decoration: none;
}

.price {
  font-size: 20px;
  padding-bottom: 3px;
}

.description {
  white-space: pre-wrap;
  color: $grey-dark;
}