@import "@styles/abstract";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  font-family: $font-family-title;
  background: $grey-light;
  font-size: 2em;
  overflow: hidden;
  text-align: center;
}
