@import '@styles/abstract';

.categorySection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 35px;

  @include bp-md {
    flex-direction: row;    
  }
}

.btnWrapper {
  display: block;
  text-align: center;
}
