@import "@styles/abstract";

.wrapper {
  padding: 24px 0;
}
.title {
  margin: 0 0 12px;
  color: #767676;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 8px;
}