@import "@styles/abstract";

.category {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  padding: 20px 0;
  margin: auto;
  cursor: pointer;

  @include bp-md {
    max-width: 30%;
    margin: 0;
  }
}

.imgWrapper {
  padding-top: 100%;

  @include bg-cover;

  &:hover .tag {
    transform: translateY(-15px);
  }
}

.tag {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px 0;
  padding: 23px 30px;
  background: $white;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .05em;
  @include transition();

  &:hover {
    opacity: 0.9;
  }
}
