@import "./abstract/index.scss";
@import "./normalize.scss";
@import "./themes.scss";

// @include scrollbar ();
// @font-face {
//   font-family: "Avenir";
//   font-weight: 400;
//   font-style: normal;
//   src: url("/avenir-400.woff2") format("woff2");
//   font-display: swap;
// }

body {
  font-family: $font-family-main;
  font-size: 1em;
  line-height: 1.4;
  color: $text-main;
  background: $white;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
}

.hidden {
  display: none;
}

::-moz-selection { /* Code for Firefox */
  background: $color-main-lightest;
}
::selection {
  background: $color-main-lightest;
}