$black: #222;
$white: #fefefe;
$white-dark: #bbb;
$grey: #bbb;
$red: red;
$green: #329232;
$yellow: #ffe354;
$blue: #1780C6;
$pink: #f2cece;
$pinkDark: #d9415d;

$text-white: $white;
$text-black: #31383f;

/* -------------- */
/* --- Colors --- */
/* -------------- */
$color-main: $blue;
$color-main-text: $text-black;
$color-main-dark: darken($color-main, 20%);
$color-main-darker: darken($color-main, 40%);

$color-sec: $yellow;
$color-sec-text: $text-black;
$color-sec-dark: darken($color-sec, 20%);
$color-sec-darker: darken($color-sec, 40%);
$color-sec-lighter: lighten($color-sec, 30%);


$color-status-success: $green;
$color-status-error: $red;

/* -------------- */
/* --- Others --- */
/* -------------- */
$border-radius: 2px;
$border-style: solid;
$border-width: 1px;
$border-color: $color-main;
$border: $border-style $border-width $border-color;

$transition-duration: 0.5s;
$transition-timing: ease;
$transition-property: all;
$transition: $transition-duration $transition-timing $transition-property;


/* --------------------- */
/* --- Font Families --- */
/* --------------------- */

$font-family-main: 'Lato', sans-serif;
$font-family-title: 'Aleo', serif;


/* ********************* */
/* -- 2. Breakpoints --- */
/* ********************* */
$bp_xs: 767px !default;
$bp_sm: $bp_xs + 1 !default;
$bp_md: 992px !default;
$bp_lg: 1100px !default;
