$black: #222;
$white: #fefefe;
$white-dark: #ebebeb;
$grey: #bbb;
$grey-dark: #6d6a6a;
$grey-light: #ededed;

$red: red;
$green: #cddc39;
$green-dark: #8bc34a;
$yellow: #ffe354;
$blue: #1780C6;
$pink: #f2cece;
$pink-dark: #ef637c;

$text-white: $white;
$text-black: #31383f;
$text-main: $text-black;

/* -------------- */
/* --- Colors --- */
/* -------------- */
$color-main: var(--main-color);
$color-main-text: var(--main-color-text);
$color-main-dark: var(--main-color-dark);
$color-main-darker: var(--main-color--darker);
$color-main-light: var(--main-color-light);
$color-main-lighter: var(--main-color-lighter);
$color-main-lightest: var(--main-color-lightest);

$color-sec: $yellow;
$color-sec-text: $text-black;
$color-sec-dark: darken($color-sec, 20%);
$color-sec-darker: darken($color-sec, 40%);
$color-sec-light: lighten($color-sec, 15%);
$color-sec-lighter: lighten($color-sec, 30%);

$color-status-success: $green;
$color-status-error: $red;


/* -------------- */
/* --- Others --- */
/* -------------- */
$border-radius: 4px;
$border-style: solid;
$border-width: 1px;
$border-color: $grey-light;
$border: $border-style $border-width $border-color;
$border-theme: $border-style $border-width $color-main;

$transition-duration: 0.5s;
$transition-timing: ease;
$transition-property: all;
$transition: $transition-duration $transition-timing $transition-property;


/* --------------------- */
/* --- Font Families --- */
/* --------------------- */

$font-family-main: 'Lato', sans-serif;
$font-family-title: 'Aleo', serif;


/* ********************* */
/* -- 2. Breakpoints --- */
/* ********************* */
$bp_xxs:480px !default;
$bp_xs: 767px !default;
$bp_sm: $bp_xs + 1 !default;
$bp_md: 992px !default;
$bp_lg: 1100px !default;